extends layout

block content
  p.
   This application is part of a suite of experimental tools to investigate ORCID iD engagement and usage within institutions. In its current form it has a number of issues and limitations – please consider them carefully and use it responsibly
  ul
    li.
      The list of researchers shown as affiliated is unlikely to be a true and accurate reflection of all researchers at your institution. Please see the #[a(href="https://ukorcidsupport.jisc.ac.uk/2019/06/identifying-your-researchers-challenges-and-opportunities/") Jisc UK ORCID Consortium blog post] for more details.
    li.
      The ORCID public API only supports retrieval of the first 11000 results, so if you have more than 11000 users affiliated to your institution the application will not retrieve them all.
    li.
      To serve some requests, the application can make a very large number of queries on the ORCID registry public API – please do not refresh results frequently (although there is some caching).
    li.
      Although the application only accesses and displays information made public by users of the ORCID registry, it may expose personal information that they had not expected to be used in such a manner.
  p This application was developed under activities funded by #[a(href="https://www.jisc.ac.uk/") Jisc].
