<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ORCID Search</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
    <script type="text/javascript" charset="utf8" src="/js/script.js"></script>
  </head>
  <body onload="selectRegion()" >
    <div class="container">
      <fieldset>
        <form action="/" id="regionForm">
          <label for="region">Region:</label>
          <select name="region" id="region" onchange="selectRegion()">
            <option value="us-form">USA</option>
            <option value="uk-form">UK</option>
          </select>
        </form>
        <form action="/" method="get" id="us-form">
          <label for="ringgold">Institution:</label>
          <select name="ringgold">
            <option value="8363">American University</option>
            <option value="7864">Arizona State University</option>
            <option value="1383">Auburn University</option>
            <option value="1421">Augusta University</option>
            <option value="14643">Baylor University</option>
            <option value="6019">Boston College</option>
            <option value="1846">Boston University</option>
            <option value="8244">Brandeis University</option>
            <option value="6752">Brown University</option>
            <option value="4517">Bucknell University</option>
            <option value="33320">California Digital Library</option>
            <option value="14666">California State University Fullerton</option>
            <option value="14671">California State University Northridge</option>
            <option value="6612">Carnegie Mellon University</option>
            <option value="2546">Case Western Reserve University</option>
            <option value="8365">Catholic University of America</option>
            <option value="2545">Clemson University</option>
            <option value="3447">Colorado State University</option>
            <option value="5922">Cornell University</option>
            <option value="3728">Dartmouth College</option>
            <option value="6527">Drexel University</option>
            <option value="3065">Duke University</option>
            <option value="4154">East Tennessee State University</option>
            <option value="1371">Emory University</option>
            <option value="5450">Florida International University</option>
            <option value="7823">Florida State University</option>
            <option value="7286">Fred Hutchinson Cancer Research Center</option>
            <option value="8367">George Washington University</option>
            <option value="8368">Georgetown University</option>
            <option value="12231">Georgetown University Medical Center</option>
            <option value="1372">Georgia Institute of Technology</option>
            <option value="1373">Georgia State University</option>
            <option value="1812">Harvard University</option>
            <option value="1811">Harvard Medical School</option>
            <option value="8369">Howard University</option>
            <option value="1771">Indiana University Bloomington</option>
            <option value="1177">Iowa State University</option>
            <option value="1466">Johns Hopkins University</option>
            <option value="1298">Marymount University</option>
            <option value="2167">Massachusetts Institute of Technology</option>
            <option value="3078">Michigan State University</option>
            <option value="5547">Mississippi State University</option>
            <option value="33052">Montana State University Bozeman</option>
            <option value="5894">New York University</option>
            <option value="6798">North Carolina State University</option>
            <option value="1848">Northeastern University</option>
            <option value="3270">Northwestern University</option>
            <option value="2647">Ohio State University</option>
            <option value="7618">Oklahoma State University Stillwater</option>
            <option value="6042">Old Dominion University</option>
            <option value="2694">Oregon State University</option>
            <option value="8082">Pennsylvania State University</option>
            <option value="6740">Princeton University</option>
            <option value="311308">Purdue University</option>
            <option value="6856">RTI International</option>
            <option value="242612">Rutgers The State University of New Jersey</option>
            <option value="2765">Southern Methodist University</option>
            <option value="6429">Stanford University</option>
            <option value="14791">SUNY College at Buffalo</option>
            <option value="6558">Temple University</option>
            <option value="2655">Texas A&M University System</option>
            <option value="3402">Texas Christian University</option>
            <option value="6177">Texas Tech University</option>
            <option value="1810">Tufts University</option>
            <option value="5783">Tulane University</option>
            <option value="8063">University of Alabama</option>
            <option value="9968">University of Alabama at Birmingham</option>
            <option value="8041">University of Arizona</option>
            <option value="8788">University of California Irvine</option>
            <option value="8783">University of California Los Angeles</option>
            <option value="8784">University of California San Diego</option>
            <option value="8785">University of California San Francisco</option>
            <option value="8786">University of California Santa Barbara</option>
            <option value="2514">University of Cincinnati</option>
            <option value="1877">University of Colorado Boulder</option>
            <option value="7712">University of Connecticut</option>
            <option value="5972">University of Delaware</option>
            <option value="2927">University of Denver</option>
            <option value="8315">University of the District of Columbia</option>
            <option value="3463">University of Florida</option>
            <option value="1355">University of Georgia</option>
            <option value="14681">University of Illinois at Chicago</option>
            <option value="14589">University of Illinois at Urbana-Champaign</option>
            <option value="4083">University of Iowa</option>
            <option value="4202">University of Kansas</option>
            <option value="12265">University of Maryland Baltimore</option>
            <option value="12264">University of Maryland School of Medicine</option>
            <option value="14707">University of Massachusetts Amherst</option>
            <option value="1259">University of Michigan</option>
            <option value="5635">University of Minnesota Twin Cities</option>
            <option value="14716">University of Missouri Columbia</option>
            <option value="14719">University of Nebraska-Lincoln</option>
            <option value="14722">University of Nevada Las Vegas</option>
            <option value="3067">University of New Hampshire</option>
            <option value="2331">University of North Carolina at Chapel Hill</option>
            <option value="3404">University of North Texas</option>
            <option value="6111">University of Notre Dame</option>
            <option value="6187">University of Oklahoma</option>
            <option value="3265">University of Oregon</option>
            <option value="6572">University of Pennsylvania</option>
            <option value="6614">University of Pittsburgh</option>
            <option value="4260">University of Rhode Island</option>
            <option value="6927">University of Rochester</option>
            <option value="5116">University of Southern California</option>
            <option value="4292">University of Tennessee Knoxville</option>
            <option value="12329">University of Texas at Arlington</option>
            <option value="12330">University of Texas at Austin</option>
            <option value="12335">University of Texas at Dallas</option>
            <option value="12346">University of Texas at San Antonio</option>
            <option value="4002">University of Texas MD Anderson Cancer Center</option>
            <option value="12334">University of Texas Southwestern Medical Center at Dallas</option>
            <option value="7060">University of Utah</option>
            <option value="2358">University of Virginia</option>
            <option value="7284">University of Washington</option>
            <option value="5228">University of Wisconsin Madison</option>
            <option value="4416">University of Wyoming</option>
            <option value="6889">Virginia Commonwealth University</option>
            <option value="1757">Virginia Polytechnic Institute and State University</option>
            <option value="6760">Washington State University</option>
            <option value="7548">Washington University in Saint Louis</option>
            <option value="5631">West Virginia University</option>
            <option value="8604">William & Mary</option>
            <option value="5755">Yale University</option>
          </select>
          <input type="submit" class="ghost-button" value="Get ORCiDs">
        </form>
        <form action="/" method="get" id="uk-form" style="display: none;">
          <label for="ringgold">Institution:</label>
          <select name="ringgold">
            <option value="1026">Aberystwyth University</option>
            <option value="2369">Anglia Ruskin University</option>
            <option value="6656">Arts University Bournemouth</option>
            <option value="1722">Aston University</option>
            <option value="1506">Bangor University</option>
            <option value="1554">Bath Spa University</option>
            <option value="4894">Birkbeck College</option>
            <option value="1725">Birmingham City University</option>
            <option value="4545">Bishop Grosseteste University</option>
            <option value="6657">Bournemouth University</option>
            <option value="3890">Brunel University</option>
            <option value="3889">Buckinghamshire New University</option>
            <option value="2238">Canterbury Christ Church University</option>
            <option value="11352">Cardiff Metropolitan University</option>
            <option value="6003">Cardiff Metropolitan University</option>
            <option value="2112">Cardiff University</option>
            <option value="4685">Central School of Speech and Drama</option>
            <option value="4895">City, University of London</option>
            <option value="129368">Conservatoire for Dance and Drama</option>
            <option value="4897">Courtauld Institute of Art</option>
            <option value="2706">Coventry University</option>
            <option value="2717">Cranfield University</option>
            <option value="4487">De Montfort University</option>
            <option value="3057">Durham University</option>
            <option value="6249">Edge Hill University</option>
            <option value="11994">Edinburgh College of Art (Now part of the University of Edinburgh)</option>
            <option value="3121">Edinburgh Napier University</option>
            <option value="3314">Falmouth University</option>
            <option value="3525">Glasgow Caledonian University</option>
            <option value="3517">Glasgow School of Art</option>
            <option value="8725">Glyndwr University</option>
            <option value="4898">Goldsmiths College, University of London</option>
            <option value="4691">Guildhall School of Music and Drama</option>
            <option value="6000">Harper Adams University College</option>
            <option value="3120">Heriot-Watt University</option>
            <option value="4899">Heythrop College, University of London</option>
            <option value="4615">Imperial College London</option>
            <option value="5053">Institute of Cancer Research</option>
            <option value="4901">Institute of Education</option>
            <option value="4212">Keele University</option>
            <option value="4616">King's College London</option>
            <option value="4264">Kingston University</option>
            <option value="4396">Lancaster University</option>
            <option value="4467">Leeds Beckett University</option>
            <option value="4459">Leeds College of Music</option>
            <option value="12054">Leeds Trinity University (formerly Leeds Trinity and All Saints)</option>
            <option value="4588">Liverpool Hope University</option>
            <option value="11584">Liverpool Institute for Performing Arts</option>
            <option value="4589">Liverpool John Moores University</option>
            <option value="9655">Liverpool School of Tropical Medicine</option>
            <option value="4092">London Business School</option>
            <option value="4904">London Metropolitan University</option>
            <option value="4905">London School of Economics & Political Science</option>
            <option value="4906">London School of Hygiene & Tropical Medicine</option>
            <option value="4914">London South Bank University</option>
            <option value="5156">Loughborough University</option>
            <option value="5289">Manchester Metropolitan University</option>
            <option value="4907">Middlesex University</option>
            <option value="5994">Newcastle University</option>
            <option value="1713">Newman University</option>
            <option value="12050">Northern School of Contemporary Dance</option>
            <option value="5995">Northumbria University</option>
            <option value="6103">Norwich University College of the Arts</option>
            <option value="6122">Nottingham Trent University</option>
            <option value="6395">Oxford Brookes University</option>
            <option value="1596">Queen's University Belfast</option>
            <option value="3122">Queen Margaret University</option>
            <option value="4617">Queen Mary, University of London</option>
            <option value="2482">Ravensbourne College of Design and Communication</option>
            <option value="1018">Robert Gordon University</option>
            <option value="4920">Roehampton University</option>
            <option value="11637">Rose Bruford College</option>
            <option value="5291">Royal Academy of Music</option>
            <option value="2522">Royal Agricultural University (formerly Royal Agricultural College)</option>
            <option value="4910">Royal College of Art</option>
            <option value="4911">Royal College of Music</option>
            <option value="3519">Royal Conservatoire of Scotland</option>
            <option value="3162">Royal Holloway, University of London</option>
            <option value="5290">Royal Northern College of Music</option>
            <option value="4912">Royal Veterinary College, University of London</option>
            <option value="57340">Royal Welsh College of Music & Drama</option>
            <option value="4913">School of Oriental and African Studies</option>
            <option value="3123">Scottish Agricultural College</option>
            <option value="7314">Sheffield Hallam University</option>
            <option value="7422">Southampton Solent University</option>
            <option value="7703">Staffordshire University</option>
            <option value="4915">St George's University of London</option>
            <option value="62693">St Mary's University College, Twickenham</option>
            <option value="1598">St Mary's University College Belfast</option>
            <option value="64576">Stranmillis University College</option>
            <option value="7758">Swansea Metropolitan University  (UWTSD)</option>
            <option value="7759">Swansea University</option>
            <option value="5462">Teesside University</option>
            <option value="5488">The Open University</option>
            <option value="169323">Trinity Laban Conservatoire of Music and Dance</option>
            <option value="1711">University College Birmingham</option>
            <option value="12076">University College London  (School of Pharmacy)</option>
            <option value="4919">University College London - UCL</option>
            <option value="121205">University for the Creative Arts</option>
            <option value="1019">University of Aberdeen</option>
            <option value="3041">University of Abertay Dundee</option>
            <option value="1555">University of Bath</option>
            <option value="5195">University of Bedfordshire</option>
            <option value="1724">University of Birmingham</option>
            <option value="1796">University of Bolton</option>
            <option value="1905">University of Bradford</option>
            <option value="1947">University of Brighton</option>
            <option value="1980">University of Bristol</option>
            <option value="2152">University of Cambridge</option>
            <option value="6723">University of Central Lancashire</option>
            <option value="11965">University of Chester</option>
            <option value="2476">University of Chichester</option>
            <option value="9480">University of Cumbria</option>
            <option value="2939">University of Derby</option>
            <option value="3042">University of Dundee</option>
            <option value="6106">University of East Anglia - UEA</option>
            <option value="4917">University of East London</option>
            <option value="3124">University of Edinburgh</option>
            <option value="2591">University of Essex</option>
            <option value="3286">University of Exeter</option>
            <option value="3526">University of Glasgow</option>
            <option value="2376">University of Gloucestershire</option>
            <option value="4918">University of Greenwich</option>
            <option value="3769">University of Hertfordshire</option>
            <option value="4013">University of Huddersfield</option>
            <option value="4019">University of Hull</option>
            <option value="2240">University of Kent</option>
            <option value="4468">University of Leeds</option>
            <option value="4488">University of Leicester</option>
            <option value="4547">University of Lincoln</option>
            <option value="4591">University of Liverpool</option>
            <option value="3163">University of London</option>
            <option value="5292">University of Manchester</option>
            <option value="6087">University of Northampton</option>
            <option value="6123">University of Nottingham</option>
            <option value="6396">University of Oxford</option>
            <option value="6633">University of Plymouth</option>
            <option value="6697">University of Portsmouth</option>
            <option value="6816">University of Reading</option>
            <option value="7046">University of Salford</option>
            <option value="7315">University of Sheffield</option>
            <option value="7423">University of Southampton</option>
            <option value="6654">University of South Wales</option>
            <option value="1027">University of South Wales (Newport)</option>
            <option value="7486">University of St Andrews</option>
            <option value="7622">University of Stirling</option>
            <option value="6629">University of St Mark and St John</option>
            <option value="3527">University of Strathclyde</option>
            <option value="102099">University of Suffolk</option>
            <option value="7735">University of Sunderland</option>
            <option value="3660">University of Surrey</option>
            <option value="1948">University of Sussex</option>
            <option value="4903">University of the Arts London</option>
            <option value="7709">University of the Highlands and Islands</option>
            <option value="1981">University of the West of England</option>
            <option value="6413">University of the West of Scotland</option>
            <option value="2596">University of Ulster</option>
            <option value="2284">University of Wales Trinity St David</option>
            <option value="4393">University of Wales Trinity St David</option>
            <option value="2284">University of Wales Trinity St David</option>
            <option value="2707">University of Warwick</option>
            <option value="7364">University of West London</option>
            <option value="4921">University of Westminster</option>
            <option value="8629">University of Winchester</option>
            <option value="8695">University of Wolverhampton</option>
            <option value="8709">University of Worcester</option>
            <option value="8748">University of York</option>
            <option value="5072">Wellcome Trust</option>
            <option value="2366">Writtle College</option>
            <option value="41872">York St John University</option>
          </select>
          <input type="submit" class="ghost-button" value="Get ORCiDs">
        </form>
      </fieldset>
    </div>
    <div id="count">
    <% if(count !== null){ %>
      <p>Total ORCiDs Found: <%= count %></p>
    <% } %>
    </div>
  <table id="orcids">
    <thead>
      <% if(count !== null){ %>
      <tr>
        <th>ORCID ID</th><th>Last updated</th><th>Name</th><th>Education</th>
        <th>Employment</th><th>IDs</th><th>Emails</th><th>Work count</th>
      </tr>
      <% } %>
    </thead>
    <tbody>
     <% orcids.forEach( function( orcid ) { %>
       <tr class="orcid-info">
         <td class="orcid" valign="top"><%= orcid.path %></td>
         <td class="updated" valign="top"></td>
         <td class="name" valign="top"></td>
         <td class="education" valign="top"></td>
         <td class="employment" valign="top"></td>
         <td class="ids" valign="top"></td>
         <td class="email" valign="top"></td>
         <td class="work-count" valign="top"></td>
       </tr>
     <% }) %>
     <tbody>
     <tfoot>
       <% if(count !== null){ %>
       <tr>
         <th>ORCID ID</th><th>Last updated</th><th>Name</th><th>Education</th>
         <th>Employment</th><th>IDs</th><th>Emails</th><th>Work count</th>
       </tr>
       <% } %>
     </tfoot>
  <script>
    $(document).ready( function () {
      $('td.orcid').each(function(i, c) {
          $.ajax({
              url: './orcid/'+$(c).text(),
              type: 'GET',
              dataType: 'json',
              beforeSend: setHeader
            }).
            done(function (msg) {
              var pc = ";"; //character used to partition multi-value fields
              if(msg["history"]["last-modified-date"] != null){
                  var et = msg["history"]["last-modified-date"]["value"];
                  var ud = new Date(et).toISOString();
                  $(c).parent().find('td.updated').html(ud.substring(0,10));
              }
              var name = "Anonymous";
              if(msg["person"]["name"] != null){
                if (msg["person"]["name"]["given-names"] != null) {
                  name = msg["person"]["name"]["given-names"]["value"];
                }
                if (msg["person"]["name"]["family-name"] != null) {
                  name += " "+msg["person"]["name"]["family-name"]["value"];
                }
              }
              $(c).parent().find('td.name').html(name);
              msg["activities-summary"]["employments"]["employment-summary"].forEach(function(emp,idx,array){
                if (idx === array.length - 1){ 
                  partitionCharacter = "";
                } else {
                  partitionCharacter = pc;
                }
                var org = emp["organization"]["name"] || "No organization name";
                var role = emp["role-title"] || "No job title";
                var startYear = "*";
                if (emp["start-date"] != null) {
                  startYear = emp["start-date"]["year"]["value"] || "*";
                }
                var endYear = "*";
                if (emp["end-date"] != null) {
                  if(emp["end-date"]["year"] != null) {
                    endYear = emp["end-date"]["year"]["value"] || "*";
                  }
                }
                $(c).parent().find('td.employment').append(" <div>"+
                org + ": " + role + " " +
                startYear+" -> "+endYear+partitionCharacter+"</div>");
              });
              msg["activities-summary"]["educations"]["education-summary"].forEach(function(edu,idx,array){
                if (idx === array.length - 1){ 
                  partitionCharacter = "";
                } else {
                  partitionCharacter = pc;
                }
                var org = edu["organization"]["name"] || "No organization name";
                var role = edu["role-title"] || "No course of study";
                var startYear = "*";
                if (edu["start-date"] != null) {
                  startYear = edu["start-date"]["year"]["value"] || "*";
                }
                var endYear = "*";
                if (edu["end-date"] != null) {
                  if(edu["end-date"]["year"] != null) {
                    endYear = edu["end-date"]["year"]["value"] || "*";
                  }
                }
                $(c).parent().find('td.education').append(" <div>"+
                org + ": " + role + " " +
                startYear+" -> "+endYear+partitionCharacter+"</div>");
                });
                if(msg["person"]["emails"] != null ) {
                  if(msg["person"]["emails"]["email"] != null){
                    msg["person"]["emails"]["email"].forEach(function(email,idx,array) {
                      if (idx === array.length - 1){ 
                        partitionCharacter = "";
                      } else {
                        partitionCharacter = pc;
                      }
                      var em = email["email"]
                      $(c).parent().find('td.email').append(" <div>"+
                      em+partitionCharacter+"</div>");
                    });
                  }
                }
                if(msg["person"]["external-identifiers"] != null ) {
                  if(msg["person"]["external-identifiers"]["external-identifier"] != null){
                    msg["person"]["external-identifiers"]["external-identifier"].forEach(function(id,idx,array) {
                      if (idx === array.length - 1){ 
                        partitionCharacter = "";
                      } else {
                        partitionCharacter = pc;
                      }
                      var idtype = id["external-id-type"];
                      var idvalue = id["external-id-value"];
                      $(c).parent().find('td.ids').append(" <div>"+
                      idtype+": "+idvalue+partitionCharacter+"</div>");
                    });
                  }
                }
                if(msg["activities-summary"]["works"] != null) {
                  var wc = msg["activities-summary"]["works"]["group"].length
                  $(c).parent().find('td.work-count').append(wc);
                }
            });
          });

          function setHeader(xhr) {
            xhr.setRequestHeader('Accept', 'application/vnd.orcid+json');
          }
        } );
        $( document ).ajaxStop(function() {
          $('#orcids').DataTable({
            dom: 'Bfrtip',
            buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
            ]
          });
        });
  </script>
  </body>
</html>
