<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <fieldset>
        <form action="/" method="get">
          <select name="ringgold">
            <option value="1026">Aberystwyth University</option>
            <option value="2369">Anglia Ruskin University</option>
            <option value="6656">Arts University Bournemouth</option>
            <option value="1722">Aston University</option>
            <option value="1506">Bangor University</option>
            <option value="1554">Bath Spa University</option>
            <option value="4894">Birkbeck College</option>
            <option value="1725">Birmingham City University</option>
            <option value="4545">Bishop Grosseteste University</option>
            <option value="6657">Bournemouth University</option>
            <option value="3890">Brunel University</option>
            <option value="3889">Buckinghamshire New University</option>
            <option value="2238">Canterbury Christ Church University</option>
            <option value="11352">Cardiff Metropolitan University</option>
            <option value="6003">Cardiff Metropolitan University</option>
            <option value="2112">Cardiff University</option>
            <option value="4685">Central School of Speech and Drama</option>
            <option value="4895">City, University of London</option>
            <option value="129368">Conservatoire for Dance and Drama</option>
            <option value="4897">Courtauld Institute of Art</option>
            <option value="2706">Coventry University</option>
            <option value="2717">Cranfield University</option>
            <option value="4487">De Montfort University</option>
            <option value="3057">Durham University</option>
            <option value="6249">Edge Hill University</option>
            <option value="11994">Edinburgh College of Art (Now part of the University of Edinburgh)</option>
            <option value="3121">Edinburgh Napier University</option>
            <option value="3314">Falmouth University</option>
            <option value="3525">Glasgow Caledonian University</option>
            <option value="3517">Glasgow School of Art</option>
            <option value="8725">Glyndwr University</option>
            <option value="4898">Goldsmiths College, University of London</option>
            <option value="4691">Guildhall School of Music and Drama</option>
            <option value="6000">Harper Adams University College</option>
            <option value="3120">Heriot-Watt University</option>
            <option value="4899">Heythrop College, University of London</option>
            <option value="4615">Imperial College London</option>
            <option value="5053">Institute of Cancer Research</option>
            <option value="4901">Institute of Education</option>
            <option value="4212">Keele University</option>
            <option value="4616">King's College London</option>
            <option value="4264">Kingston University</option>
            <option value="4396">Lancaster University</option>
            <option value="4467">Leeds Beckett University</option>
            <option value="4459">Leeds College of Music</option>
            <option value="12054">Leeds Trinity University (formerly Leeds Trinity and All Saints)</option>
            <option value="4588">Liverpool Hope University</option>
            <option value="11584">Liverpool Institute for Performing Arts</option>
            <option value="4589">Liverpool John Moores University</option>
            <option value="9655">Liverpool School of Tropical Medicine</option>
            <option value="4092">London Business School</option>
            <option value="4904">London Metropolitan University</option>
            <option value="4905">London School of Economics & Political Science</option>
            <option value="4906">London School of Hygiene & Tropical Medicine</option>
            <option value="4914">London South Bank University</option>
            <option value="5156">Loughborough University</option>
            <option value="5289">Manchester Metropolitan University</option>
            <option value="4907">Middlesex University</option>
            <option value="5994">Newcastle University</option>
            <option value="1713">Newman University</option>
            <option value="12050">Northern School of Contemporary Dance</option>
            <option value="5995">Northumbria University</option>
            <option value="6103">Norwich University College of the Arts</option>
            <option value="6122">Nottingham Trent University</option>
            <option value="6395">Oxford Brookes University</option>
            <option value="1596">Queen's University Belfast</option>
            <option value="3122">Queen Margaret University</option>
            <option value="4617">Queen Mary, University of London</option>
            <option value="2482">Ravensbourne College of Design and Communication</option>
            <option value="1018">Robert Gordon University</option>
            <option value="4920">Roehampton University</option>
            <option value="11637">Rose Bruford College</option>
            <option value="5291">Royal Academy of Music</option>
            <option value="2522">Royal Agricultural University (formerly Royal Agricultural College)</option>
            <option value="4910">Royal College of Art</option>
            <option value="4911">Royal College of Music</option>
            <option value="3519">Royal Conservatoire of Scotland</option>
            <option value="3162">Royal Holloway, University of London</option>
            <option value="5290">Royal Northern College of Music</option>
            <option value="4912">Royal Veterinary College, University of London</option>
            <option value="57340">Royal Welsh College of Music & Drama</option>
            <option value="4913">School of Oriental and African Studies</option>
            <option value="3123">Scottish Agricultural College</option>
            <option value="7314">Sheffield Hallam University</option>
            <option value="7422">Southampton Solent University</option>
            <option value="7703">Staffordshire University</option>
            <option value="4915">St George's University of London</option>
            <option value="62693">St Mary's University College, Twickenham</option>
            <option value="1598">St Mary's University College Belfast</option>
            <option value="64576">Stranmillis University College</option>
            <option value="7758">Swansea Metropolitan University  (UWTSD)</option>
            <option value="7759">Swansea University</option>
            <option value="5462">Teesside University</option>
            <option value="5488">The Open University</option>
            <option value="169323">Trinity Laban Conservatoire of Music and Dance</option>
            <option value="1711">University College Birmingham</option>
            <option value="12076">University College London  (School of Pharmacy)</option>
            <option value="4919">University College London - UCL</option>
            <option value="121205">University for the Creative Arts</option>
            <option value="1019">University of Aberdeen</option>
            <option value="3041">University of Abertay Dundee</option>
            <option value="1555">University of Bath</option>
            <option value="5195">University of Bedfordshire</option>
            <option value="1724">University of Birmingham</option>
            <option value="1796">University of Bolton</option>
            <option value="1905">University of Bradford</option>
            <option value="1947">University of Brighton</option>
            <option value="1980">University of Bristol</option>
            <option value="2152">University of Cambridge</option>
            <option value="6723">University of Central Lancashire</option>
            <option value="11965">University of Chester</option>
            <option value="2476">University of Chichester</option>
            <option value="9480">University of Cumbria</option>
            <option value="2939">University of Derby</option>
            <option value="3042">University of Dundee</option>
            <option value="6106">University of East Anglia - UEA</option>
            <option value="4917">University of East London</option>
            <option value="3124">University of Edinburgh</option>
            <option value="2591">University of Essex</option>
            <option value="3286">University of Exeter</option>
            <option value="3526">University of Glasgow</option>
            <option value="2376">University of Gloucestershire</option>
            <option value="4918">University of Greenwich</option>
            <option value="3769">University of Hertfordshire</option>
            <option value="4013">University of Huddersfield</option>
            <option value="4019">University of Hull</option>
            <option value="2240">University of Kent</option>
            <option value="4468">University of Leeds</option>
            <option value="4488">University of Leicester</option>
            <option value="4547">University of Lincoln</option>
            <option value="4591">University of Liverpool</option>
            <option value="3163">University of London</option>
            <option value="5292">University of Manchester</option>
            <option value="6087">University of Northampton</option>
            <option value="6123">University of Nottingham</option>
            <option value="6396">University of Oxford</option>
            <option value="6633">University of Plymouth</option>
            <option value="6697">University of Portsmouth</option>
            <option value="6816">University of Reading</option>
            <option value="7046">University of Salford</option>
            <option value="7315">University of Sheffield</option>
            <option value="7423">University of Southampton</option>
            <option value="6654">University of South Wales</option>
            <option value="1027">University of South Wales (Newport)</option>
            <option value="7486">University of St Andrews</option>
            <option value="7622">University of Stirling</option>
            <option value="6629">University of St Mark and St John</option>
            <option value="3527">University of Strathclyde</option>
            <option value="102099">University of Suffolk</option>
            <option value="7735">University of Sunderland</option>
            <option value="3660">University of Surrey</option>
            <option value="1948">University of Sussex</option>
            <option value="4903">University of the Arts London</option>
            <option value="7709">University of the Highlands and Islands</option>
            <option value="1981">University of the West of England</option>
            <option value="6413">University of the West of Scotland</option>
            <option value="2596">University of Ulster</option>
            <option value="2284">University of Wales Trinity St David</option>
            <option value="4393">University of Wales Trinity St David</option>
            <option value="2284">University of Wales Trinity St David</option>
            <option value="2707">University of Warwick</option>
            <option value="7364">University of West London</option>
            <option value="4921">University of Westminster</option>
            <option value="8629">University of Winchester</option>
            <option value="8695">University of Wolverhampton</option>
            <option value="8709">University of Worcester</option>
            <option value="8748">University of York</option>
            <option value="5072">Wellcome Trust</option>
            <option value="2366">Writtle College</option>
            <option value="41872">York St John University</option>
          <input type="submit" class="ghost-button" value="Get ORCiDs">
        </form>
      </fieldset>
    </div>
    <% if(count !== null){ %>
      <p><%= count %></p>
    <% } %>
  </body>
</html>
