<div class="grid">
    <div class="col-1-1">
        <div class="paginate">


                <ul>
                <% if (paginate.hasPreviousPages) { %>
                    <div>
                        <a href="<%=paginate.href(true) %>">Previous</a>
                    </div>
                <% } %>

                <% if (paginate.hasNextPages) { %>
                    <div>
                        <a href="<%=paginate.href() %>">Next</a>
                    </div>
                <% } %>
                </ul>


        </div>
    </div>
</div>